@import url('https://fonts.googleapis.com/css?family=Bungee:700|Bungee:400');

body {
  font-family: 'Bungee';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Bungee';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #618864;
}

.calculadora-imc {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #327035;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

.resultado {
  margin-top: 20px;
  background-color: #327035;
  padding: 15px;
  border-radius: 8px;
  border-color: #327035;
  display: inline-block;
  text-align: left;
}
